body {
  background-image: url(../img/skulls.jpg);
}
table {
  float: right;
}
td {
  text-align: center;
  height: 200px;
  width: 200px;
  border: 1px solid black;
}
p {
  font-weight: bold;
  font-size: 30px;
}
.jumbotron h1 {
  color: white;
}
.jumbotron {
  text-align: center;
  background-image: url(../img/cast.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
td button {
  height: 100%;
  width: 100%;
  background-image: url(../img/irkin.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.GirSquare{
  background-color: #65edc9;
  background-image: url(../img/gir.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.DibSquare {
  background-color: #65a9c6;
  background-image: url(../img/dib.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.ZimSquare {
  background-color: #be76db;
  background-image: url(../img/zim.png);
  background-size: contain;
  background-repeat: no-repeat;
}


#refresh {
  clear: both;
  margin-top: 250px;
}
.clickable {
  cursor: pointer;
