
table {
  float: right;
}
td {
  text-align: center;
  height: 200px;
  width: 200px;
  border: 1px solid black;
}
p {
  font-weight: bold;
  font-size: 30px;
}
.clickable {
  cursor: pointer;
}
td button {
  height: 100%;
  width: 100%;
}
.xSquare {
  background-color: #8faa98;
  background-image: url(../img/x.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.oSquare {
  background-color: #85a2d1;
  background-image: url(../img/o.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#refresh {
  clear: both;
  margin-top: 250px;
}
